.m3s{font-family:"Lucida Grande","Lucida Sans Unicode","sans-serif";font-size:100%;line-height:115%}
.m3s em, .bld{font-style:italic;font-family:"Georgia","Times","Times New Roman","serif"}
.m3s a{text-decoration:none;color:royalblue}
.m3s a:hover{text-decoration:underline}
.blr+.blr{margin-top:1em}
.jk6{margin-bottom:1em}
.blr+.blr .jk6{margin-bottom:.2em}
.iye{display:inline;margin-right:.3em;color:blue;font-size:120%;font-weight:bold}
.iye sup{color:black;font-size:70%;font-weight:normal;-webkit-user-select:none}
.eyx{display:inline;font-weight:bold;color:sienna;font-family:"Trebuchet MS"}
.ewr, .uay, .b8o{}
.u6u{}
.m3s .xsx div{display:none}
.n6n{font-family:Helvetica;color:#1C4B8B;font-weight:bold;letter-spacing:-1.5px;position:absolute;left:1ex;width:1em;text-align:center}
.j1b+.j1b{margin-top:.2em}
.m3s .j1b .muj{margin-left:1.2em;counter-reset:efi}
.zz0{display:block;font-size:95%;font-family:Helvetica;color:#369;letter-spacing:1px}
.zz0 em{color:navy;font-size:105%;padding-left:1px}
.zz0{margin-left:1em}
.zz0 q:before{content:"\021D2\020";color:#FF7E1E;position:absolute;left:.5em}
.j1b .zz0 q:before{left:1.6em}
.tec, .poy, .ycv, .a3d, .foa{margin:.2em 0;border-bottom:1px dashed #ccc}
.tec span, .poy span, .ycv span, .a3d span, .foa span{font-family:Helvetica;text-transform:capitalize;font-weight:bold;font-size:95%;color:dimgray;line-height:100%}
.tec span:before, .poy span:before, .ycv span:before, .a3d span:before, .foa span:before{content:counter(efi,square);font-size:120%;padding-right:.2em;font-weight:bold}
.tec span:before{color:darkorange}
.a3d span:before{color:#0A0}
.ycv span:before{color:#DDA0DD}
.foa span:before{color:#09E}
.poy span:before{color:#9400D3}
.tec span:after, .poy span:after, .ycv span:after, .a3d span:after, .foa span:after{content:":"}
.muj div{color:#333}
.muj div em, .hcs{color:teal}
.hfo{color:#36A;font-size:105%}
.lcw{font-variant:small-caps;font-size:110%;font-style:normal}
.bld{color:teal;font-size:90%}
.bld span{font-style:normal}
.kie{display:inline-block}
.ltr img{cursor:pointer;width:16px;vertical-align:text-bottom}
.ltr img:hover{background-color:#F4F6FA}

